<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

    <f:layout name="Backend/Default"/>

    <f:section name="content">
        <f:flashMessages/>
        <div id="tokens-confs">
            <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                <li>
                    <button
                        type="button"
                        class="nav-link{f:if(condition: activeTokenTab, else:' active')}"
                        data-bs-toggle="tab"
                        data-bs-target="#configurations"
                        aria-controls="configurations"
                        role="tab">
                        <f:translate key="module.configurations"/>
                    </button>
                </li>
                <li>

                    <button
                        type="button"
                        class="nav-link{f:if(condition: activeTokenTab, then:' active')}"
                        data-bs-toggle="tab"
                        data-bs-target="#tokens"
                        aria-controls="tokens"
                        role="tab">
                        <f:translate key="module.tokens"/>
                    </button>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane{f:if(condition: activeTokenTab, else: ' show active')}" id="configurations"
                     role="tabpanel" aria-labelledby="configurations-tab">
                    <br>
                    <f:render partial="Backend/ListConfigurations" section="list"
                              arguments="{configurations: configurations, isAdmin: isAdmin}"/>
                    <f:link.action class="btn btn-default" action="editConfiguration">
                        <f:translate key="module.add_new"/>
                    </f:link.action>
                </div>

                <div class="tab-pane{f:if(condition: activeTokenTab, then: ' show active')}" id="tokens" role="tabpanel"
                     aria-labelledby="tokens-tab">
                    <br>
                    <f:render partial="Backend/ListTokens" section="list" arguments="{tokens: tokens}"/>
                    <f:link.action class="btn btn-default" action="editToken">
                        <f:translate key="module.add_new"/>
                    </f:link.action>
                </div>
            </div>
        </div>
    </f:section>
</div>
